* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.hero-section {
  background: url("./assets//background.png");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: auto;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: none !important;
  display: none !important;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  color: none !important;
  display: none !important;
}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: none !important;
  border-width: none !important;
}
