@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700%7CGoogle+Sans:400,500,700%7CGoogle+Sans+Text:400&lang=en");
@import url("https://fonts.googleapis.com/css?family=Google+Sans+Text:400&text=%E2%86%90%E2%86%92%E2%86%91%E2%86%93&lang=en");
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../public/fonts/Inter-Regular.otf") format("otf");
  /* Add more src definitions for different font weights and styles if needed */
}

@font-face {
  font-family: "Google Sans Text";
  font-weight: 400;
  font-display: swap;
  src: local("Google Sans Text"), local("GoogleSansText"),
    url("../public/fonts/ProductSans-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url("../public/fonts/Roboto-Black.ttf") format("ttf");
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.hero-section {
  background: url("./assets//background.png");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: auto;
}

@font-face {
  font-family: Quanta;
  src: url("/public/QuantaGroteskPro-Bold.ttf");
}
.font-quanta {
  font-family: Quanta, sans-serif;
}
.akash-heading {
  font-family: Quanta, sans-serif;
  font-size: 96px;
  color: rgba(49, 57, 66, 1);
}
.akash-hero-sub {
  font-family: Quanta, sans-serif;
  font-size: 32px;
  color: rgba(49, 57, 66, 1);
}

.background-color {
  background: linear-gradient(180deg, #39bff9 0%, #4388ee 100%);
}

.button-text-color {
  background: linear-gradient(
    272.89deg,
    #2360fc 0%,
    #49bcfc 50.52%,
    #1ed6e2 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: none !important;
    display: none !important;
  }
  .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
    color: none !important;
    display: none !important;
  }
  .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused
    .MuiOutlinedInput-notchedOutline {
    border-color: none !important;
    border-width: none !important;
  }
}

.svg-div svg {
  /* fit the svg in full div width and height wise  */
  width: 100%;
  height: 100%;
}
